html {
    height: 100vh;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    overflow-x: hidden;
    font-family: Arial;
}
.otsikko1 {
    position: fixed;
    font-size: 30px;
    width: 99vw;
    height: 100px;
    color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
}

.otsikkoButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.otsikkobutton:hover {
    color: rgb(180, 175, 175);
}

.navbarcontainer {
    display: grid;
    grid-template-columns: 100px auto 200px 200px 200px;
    text-align: center;
    z-index: 1;
    align-items: center;
}
.navbaritem:hover {
    background-size: 100% 100%;
    transform: scale(1.1);
}

.navbaritem:active {
    transform: scale(0.95);
}

.navbaritem {
    width: 12em;
    height: 3em;
    margin: 20px;
    padding: 1px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: 0.5s;
    background-color: transparent;
    display: inline-block;
    position: relative;
}

.navbaritem::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bebebe;
  transition: transform 0.25s ease-out;
}

.navbaritem:hover::after {
  transform: scaleX(1);
}

.section1, .section2 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    perspective: 1px;
}

.imgTextWrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imgText {
    position: absolute;
    z-index: 999;
    color: rgb(255, 255, 255);
    font-size: 120px;
    text-shadow: 0 1px 5px black;
    text-overflow: black;
    margin: 0 0 0 20px;
}

.section1::before {
    content:"";
    width: 100%;
    position: fixed;
    height: 100%;
    background: url(https://wallpapercave.com/wp/wp9164316.jpg) top center no-repeat;
    background-size: cover;
}

.otsikkobutton2 {
    color: white;
    font-size: 13px;
    border: none;
    position: relative;
    cursor: pointer;
    margin: 0 15px 0 15px;
}

.otsikkobutton3 {
    color: white;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    position: relative;
    cursor: pointer;
    margin: 0 15px 0 15px;
}
.otsikkobutton4 {
    color: white;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    position: relative;
    cursor: pointer;
    margin: 0 15px 0 15px;
}

.section2 {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    min-height: 900px;
    margin: 0 0 180px 0;
}

.collaborationBox {
    margin: 180px 0 80px 0;
    display: flex;
    align-items: center;
    gap: 350px;
    color: white;
}

.collaborationImg {
    height: 300px;
    width: 500px;
}

.collaborationText {

    transform: translateX(-100px);
}

.collaborationH1 {
    color: rgb(245, 255, 47);
    font-size: 40px;
}
.collaborationPar {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.cheapBox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 450px;
    color: white;
    margin: 0 0 80px 0;
}

.moneyImg {
    height: 350px;
}

.cheapH1 {
    font-size: 40px;
    color: rgb(245, 255, 47);
}

.cheapPar {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.qualityBox {
    display: flex;
    align-items: center;
    gap: 500px;
    color: white;
}

.qualityText {
    transform: translateX(-100px)
}

.qualityH1 {
    color: rgb(47, 234, 255);
    font-size: 40px;
}

.diamondImg {
    height: 350px;
    width: 350px;
}

.qualityPar {
    color: white;
    font-weight: bold;  
    font-size: 25px;
}

.section3 {
    background-color: rgb(17, 17, 17);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.iconH1 {
    color: white;
    font-size: 40px;   
    margin: 0 0 0 80px;
}

.icons {
    margin: 0 0 0 80px;
}

.htmlIcon, .cssIcon, .javascriptIcon, .csharpIcon, .pythonIcon {
    height: 70px;
}

.javascriptIcon {
    border-radius: 7px;
}

.section4 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.solutionH1 {
    font-size: 40px;
    margin: 120px 0 80px 0;
}

.buildingsWrap {
    display: flex;
    align-items: end;
    gap: 200px;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.houseImg {
    height: 250px;
    width: 250px;
}

.housePar {
    font-size: 25px;
    font-weight: bold;
}

.officeBuilding {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.officeBuildingImg {
    height: 400px;
}

.officeBuildingPar {
    font-size: 25px;
    font-weight: bold;
}

/* Previous projects stuff (section5) */
.section5 {
    border: solid green;
    background-color: rgb(17, 17, 17);
}

.aliotsikko1 {
    color: white;
    margin: 0 0 0 0;
    border: solid blue;
}

.animated-cards-wrapper {
    display: flex;
    align-items: start;
    height: 500px;
    border: solid blue;
}
.animated-cards {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    border: solid lime;
}

.card {
    background-color: white;
    background: white;
    height: 200px;
    padding: 25px;
    border-radius: 35px;
}

.card h3 {
    margin: 0 0 10px;
    color: #333;
}

.card p {
    font-size: 0.9em;
    margin: 0 0 10px;
    color: #666;
}

.imgWrapper {
    margin: 0 0 300px 0;
    display: flex;
    width: auto;
    overflow: visible;
    gap: 50px;
    animation: moveX 25s linear infinite;
}

@keyframes moveX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-133.4vw);
    }
}

.imgWrapper:after {
    content: '';
    display: block;
}

.imgWrapper img {
    border-radius: 50px;
}

.heading1 {
    white-space: normal;
    display: flex;
    justify-content: center;
    margin:0 80% 0 0;
    color: white;
    opacity: 0;
    transition: margin 2.0s ease, opacity 1.5s ease;
}

.heading1.visible {
    display: flex;
    justify-content: center;
    margin: 0 465px 0 0;
    opacity: 1;
}

.bio {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 0 0 300px 250px;
    opacity: 0;
    transition: margin 2.0s ease, opacity 2.0s ease;
}

.bio.visible {
    opacity: 1;
    margin: 0 200px 300px 0;
    text-align: center;
}

.bio1 {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: 0 0 300px 250px;
    opacity: 0;
    transition: margin 2.0s ease, opacity 2.0s ease;
}

.bio1.visible {
    opacity: 1;
    margin: 0 100px 300px 0;
    text-align: center;
}

.underlineContainer {
    display: flex;
    justify-content: center;
    margin: 0 260px 0 0;
}

.underline {
    display: inline-block;
    position: relative;
    background-color: white;
    padding-bottom: 1px;
    margin: 0 0 0 0;
    padding-right: 0px;
    transition: padding-right 2.0s ease;
}

.underline.visible {
    padding-right: 400px
}

.boxes {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.boxes button {
    border: none;
}

.developersBox {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUsBox {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnMoreBox {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developers {
    color: white;
}

.developersBox, .contactUsBox, .learnMoreBox, .card {
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);  /* Soft shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition */
}

.developersBox:hover, .contactUsBox:hover, .learnMoreBox:hover, .card:hover {
    transform: translateY(-5px);  /* Slightly lift the box */
    box-shadow: 0 15px 20px rgba(255, 255, 255, 0.384);  /* Enhance the shadow on hover */
}

/* .particle-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.particle {
    position: absolute;
    animation: fall linear infinite;
    font-size: 5px;
    color: rgba(0, 213, 255, 0.608);
} */

@keyframes fall {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}