body, html {
    background-color: black;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

.otsikko1 {
    font-size: 30px;
    width: 100;
    height: 100px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
}    

img {
    height: 400px; 
    width: 100%;
}

.WhiteBox{
    background-color: white;
    height: 50px;
    width: 100%;
}

.bio {
    color: white;
}

.developers {
    color: white;
}

.aliotsikko1 {
    color: white;
}

.otsikko1, .bio, .developers, .aliotsikko1 {
    font-family: arial
}

@font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}